div#modal{
    
}
div.darkScreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.404);
    animation: fadeIn 0.5s;
    z-index: 998;
}
div.message{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    background: white;
    border: 1px solid #555;
    border-radius: 30px;
    color: #333;
    animation: fadeIn 0.5s;
    z-index: 999;
}
div.message div:nth-child(1){
    font-size: 20px;
    margin: 30px 0 0 10px;
    font-family: 'Righteous', cursive;
}
div.message div:nth-child(3){
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 0 20px 0;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
